<!-- 
	PROFILE HTML
	
	Autor: Jorge Luis Mayorga Taborda
	       Juan Felipe Martinez Ramos
	       Monica Julieth Tuta 
	Comentarios: 
	
-->

<!--------------------------------------------------------------------------------------->
<!--  Inicio Documento HTML  ------------------------------------------------------------> 
<html>
<!---------------------------------------------------------------------------------------> 










<!--------------------------------------------------------------------------------------->
<!--  Inicio HEAD  ---------------------------------------------------------------------> 
<head>
<!---------------------------------------------------------------------------------------> 


<!--------------------------------------------------------------------------------------->
<!--  Definir Meta Parametros del HTML5  ------------------------------------------------>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Academi,Industri,Tecnologi,Uniandes"./>
<!--------------------------------------------------------------------------------------->


 <!--------------------------------------------------------------------------------------->
<title>Welcome {{FirstName}} </title>
<!--------------------------------------------------------------------------------------->


<!--------------------------------------------------------------------------------------->
<!--  Cargar Archivos CSS Estaticos  ----------------------------------------------------> 
{% load staticfiles %}
<link href="{% static "Profile/css/style.css" %}" rel='stylesheet' type='text/css' >
<!--------------------------------------------------------------------------------------->

<!--------------------------------------------------------------------------------------->
<!--  Cargar Archivos jQuery Estaticos  ----------------------------------------------------> 
{% load staticfiles %}
<script src="{% static "Profile/js/jquery.min.js" %}"></script>
<!--------------------------------------------------------------------------------------->

<!--------------------------------------------------------------------------------------->
<!--  Cargar Archivos JavaScript Estaticos  ---------------------------------------------> 
{% load staticfiles %}
<script src="{% static "Profile/js/main.js" %}" type="text/javascript"></script>
<!--------------------------------------------------------------------------------------->




<!-------------------------------------------------------------------------------------->
</head>
<!-------------------------------------------------------------------------------------->











<!-- --------------------------------------------------------------------------------- -->
<!--  Begin:Body  -------------------------------------------------------------------- -->
<body>
<!-- --------------------------------------------------------------------------------- -->
	




<!--  Begin:Content ------------------------------------------------------------------ -->
<div class="content">
<!-- --------------------------------------------------------------------------------- -->



<!-- Titulo de Perfil ---------------------------------------------------------------- -->
<h1>{{FirstName}} {{LastName}} - Profile</h1>
<!-- --------------------------------------------------------------------------------- -->



<!-- --------------------------------------------------------------------------------- -->
<div class="wrap">
<!-- --------------------------------------------------------------------------------- -->
<div class="content-info">
<!-- --------------------------------------------------------------------------------- -->
<div class="header">


<!-- Cargar Foto de Perfil ----------------------------------------------------------- -->
{% load staticfiles %}
{% with 'Profile/images/'|add:urldir|add:'.png' as image_static %}
 <img src= {% static image_static %} "/>
{% endwith %}
<!-- <img src= {{urlPhoto}} > -->
<!-- --------------------------------------------------------------------------------- -->
			

<!-- --------------------------------------------------------------------------------- -->
<h3>{{FirstName}} de los {{LastName}}</h3>
<!-- --------------------------------------------------------------------------------- -->



<!-- --------------------------------------------------------------------------------- -->
<a href="#"><h2>{{Age}} - {{Occupation}}/{{Company}}/{{Charge}}</h2></a>	
<!-- --------------------------------------------------------------------------------- -->
<a href="#"><h2>Interests: .</h2></a>
<!-- --------------------------------------------------------------------------------- -->
<span class="links"><h2>Links: </h2></span>	
<!-- --------------------------------------------------------------------------------- -->


</div>
	

<!-- -- Statistics ------------------------------------------------------------------- -->
<div class="statistics">
<!-- --------------------------------------------------------------------------------- -->
<table style="width:100%" align="Center">

<tr>
	<td align="Center">Friends</td>
	<td align="Center">CONTACTS</td> 
	<td align="Center">CURRENT PROJECTS</td>

</tr>

</table>

<table style="width:80%" align="center">
	<td> 		{% for o in List %}
			<li> {{o}} </li>
		{% endfor %} </td>
</table>


<div class="clear">
</div> 

					
<div class="wrap">
	<div class="contact">
				<div class="skills-info">
			<div id="canvas">
				<div align="center">
  					<div class="web"><h2>SKILLS</h2></div>
						</div>
							<div class="row skill-grids text-center">
									<div class="grid-1">	
										<div class="skill-grid">
											<div class="circle" id="circles-1"> </div>
												<h5 class="web"><p>{{SKILL1}}</p></h5>
										 </div>								  
									</div>
									<div class="grid-2">	
										<div class="skill-grid">
											<div class="circle" id="circles-2"> </div>
												<h5 class="web"><p>{{SKILL2}}</p></h5>
										 </div>								  
									</div>
									<div class="grid-3">	
										<div class="skill-grid">
											<div class="circle" id="circles-3"> </div>
												<h5 class="web"><p>{{SKILL3}}</p></h5>
										 </div>								  
									</div>
									<div class="grid-4">	
										<div class="skill-grid">
											<div class="circle" id="circles-4"> </div>
												<h5 class="web"><p>{{SKILL4}}</p></h5>
										 </div>								  
									</div>
									
									<div class="clear"> </div>
					          </div>

								 <script>
						 				var colors = [
						 						['#202835', '#00ae55'], ['#202835', '#00ae55'], ['#202835', '#00ae55'], ['#202835', '#00ae55']
						 					];
						 				for (var i = 1; i <= 4; i++) {
						 					var child = document.getElementById('circles-' + i),
						 						percentage = 50 + (i * 10);

						 						 Percent1=99;
						 						 Percent2=20;
						 						 Percent3=16;
						 						 Percent4=10;

						 						 var percents= [Percent1,Percent2,Percent3,Percent4];
												
						 					Circles.create({
						 						id:         child.id,
						 						percentage: percents[i-1],
						 						radius:     40,
						 						width:      12,
						 						number:   	percents[i-1],
						 						text:       '%',
						 						colors:     colors[i - 1]
						 					});
						 				}
								
						 </script>
				</div>
		</div>
	</div>
</body>
</html>
