<!DOCTYPE html>

<!--
     ---------------------------------------------------------------------------		
	 <html> Begin 
     ---------------------------------------------------------------------------	
     Author: Jorge Luis Mayorga Taborda
     Description: En esta pagina se cargan los archivos
     ---------------------------------------------------------------------------     	
		
		 Pagina para controlar las bases de datos de la aplicación Web 
		 
     ---------------------------------------------------------------------------				 
-->
<html>










<!--
     ---------------------------------------------------------------------------		
	 <head> Begin 
     ---------------------------------------------------------------------------   	
	 	-Cargar Archivos CSS,JS,etc.
	 	-
     ---------------------------------------------------------------------------				 
-->
<head>
    <!-- Cargar el archivo jQuery.min.js -->
	{% load staticfiles %}
	<script src="{% static "Admin/jquery.min.js" %}" ></script>
	<!-- Cargar el archivo Bootstrap.min.js -->
	{% load staticfiles %}
	<script src="{% static "Admin/bootstrap.min.js" %}" ></script>
	<!-- Cargar el archivo Bootstrap.min.css -->
	{% load staticfiles %}
	<link href="{% static "Admin/bootstrap.min.css" %}" rel="stylesheet">
	
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--
     ---------------------------------------------------------------------------		
	 <head> End
     ---------------------------------------------------------------------------   					 
-->
</head>
























<!--
     ---------------------------------------------------------------------------		
	 <body> Begin 
     ---------------------------------------------------------------------------   	
	 	-jumbotron : Titlulo y mensajes
	 	-NavigationBar: Barra de navegación 
	 	-UsersLists: Listas de Usuarios
     ---------------------------------------------------------------------------				 
-->
<body>


<!-------------- container ------------------------------------------------------>
<div class="container">





<!-------------- Title: jumbotron ------------------------------------------------>
<div class="jumbotron" name="Title">
    <h1>Admin Dashboard</h1>
    <p>Web App Dashboard for Users,Groups,Offers Control</p>
 </div>
<!-------------------------------------------------------------------------------->





<!-------------- NavigationBar ------------------------------------------------------>
<nav class="navbar navbar-default" name="NavigationBar">
	<!-- Container Panel -->
	<div class="container-defaul">
	<div class="navbar-header">
	
	<a class="navbar-brand" href="#MainBlock">
		Home
	</a>
	
	</div>
	<div>
	<ul class="nav navbar-nav">
	<li ckass="active">
		<a href="#NavigationBar">NavBar</a>
	</li>
	</div>
	<div>
	<ul class="nav navbar-nav">
	<li ckass="active">
		<a href="#FundamentalPanel">FundamentalPanel</a>
	</li>
	</div>
	<!--------------------->
</nav>
<!-------------------------------------------------------------------------------->









  <div class="row">
      <h3>Add Objects to Database</h3>
		<div class="panel panel-default" id="FundamentalPanel">
		  <div class="panel-heading">Web App Main Control's</div>
		  <div class="panel-body">

			<div class="row">
		        <div class="col-md-3">
			    	<h3><i class="fa fa-user"></i>Users & Persons</h3>
				</div>
				<div class="col-md-3">
					<h3><i class="fa fa-graduation-cap"></i>Offers & Projects</h3>
				</div>
				<div class="col-md-3">
					<h3><i class="fa fa-users"></i>Groups</h3>
				</div>
			    <div class="col-md-3">
					<h3><i class="fa fa-newspaper-o"></i>Papers & Articles</h3>
				</div>
		    </div> 
        	
			<div class="row">
		        <div class="col-md-3">
			    	<form name="NewUser"  action="/AdminNewUser/" >
					<input type="text" name="usr_email" value=" " size="15"/>
					<input type="submit" value="Add User" />
		        	</form>
				</div>
				<div class="col-md-3">
					<form name="NewOffer"  action="/AdminNewOffer/" >
					<input type="text" name="off_name" value="" size="15"/>
					<input type="submit" value="Add Offer" />
		        	</form>
				</div>
				<div class="col-md-3">
					<form name="NewGroup"  action="/AdminNewGroup/" >
					<input type="text" name="grp_name" value="" size="15"/>
					<input type="submit" value="Add Group" />
		        	</form>
				</div>
			    <div class="col-md-3">
					<form name="NewArticle"  action="/AdminNewArticle/" >
					<input type="text" name="art_name" value="" size="15"/>
					<input type="submit" value="Add Article" />
		        	</form>
				</div>
		    </div> 

			<div class="row">
		        <div class="col-md-3">
			    	<form name="NewUser"  action="/AdminRemoveUser/" >
					<select name="usr_email">
						{% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Remove" />
		        	</form>
				</div>
				<div class="col-md-3">
					<form name="NewOffer"  action="/AdminRemoveOffer/" >
					<select name="off_name">
						{% for off in offersList %}
						  <option value="{{off.offer_name}}">{{off.offer_name}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Remove" />
		        	</form>
				</div>
				<div class="col-md-3">
					<form name="NewGroup"  action="/AdminRemoveGroup/" >
					<select name="grp_name">
						{% for usr in groupsList %}
						  <option value="{{usr.group_name}}">{{usr.group_name}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Remove" />
		        	</form>
				</div>
			    <div class="col-md-3">
					<form name="NewUser"  action="/AdminNewArticle/" >
					<select name="FromFriend">
						{% for usr in articlesList %}
						  <option value="{{usr.article_name}}">{{usr.article_name}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Remove" />
		        	</form>
				</div>
		    </div> 


		    
		    <div class="row">
		        <div class="col-md-3">
			    	<h3><i class="fa fa-newspaper-o"></i>Ads</h3>
				</div>
				<div class="col-md-3">
					<h3><i class="fa fa-newspaper-o"></i>Topics</h3>
				</div>
				<div class="col-md-3">
					<h3><i class="fa fa-newspaper-o"></i>Ideas</h3>
				</div>
			    <div class="col-md-3">
					<h3><i class="fa fa-newspaper-o"></i>Comments</h3>
				</div>
		    </div> 
		    
		    

			<div class="row">
		        <div class="col-md-3">
			    	<form name="NewUser"  action="/AdminNewAd/" >
					<input type="text" name="usr_email" value=" " size="15"/>
					<input type="submit" value="Add Ad" />
		        	</form>
				</div>
				<div class="col-md-3">
					<form name="NewUser"  action="/AdminNewTopic/" >
					<input type="text" name="usr_email" value="" size="15"/>
					<input type="submit" value="Add Topic" />
		        	</form>
				</div>
				<div class="col-md-3">
					<form name="NewUser"  action="/AdminNewIdea/" >
					<input type="text" name="usr_email" value="" size="15"/>
					<input type="submit" value="Add Ideas" />
		        	</form>
				</div>
			    <div class="col-md-3">
					<form name="NewUser"  action="/AdminNewComment/" >
					<input type="text" name="usr_email" value="" size="15"/>
					<input type="submit" value="Add Comment" />
		        	</form>
		        	<form name="NewUser"  action="/AdminRemoveComment/" >
		        	<select name="cmt_name">
		        		{% for cmt in commentsList %}
						  <option value="{{cmt.comment_name}}">{{cmt.comment_name}}</option>
						{% endfor %}
						</select>
											<input type="submit" value="Remove" />
						</form>
				</div>
		    </div> 




			<div class="row">
		        <div class="col-md-3">
			    	<h3><i class="fa fa-check-square-o"></i><i class="fa fa-user"></i>Friendship</h3>
				</div>
				<div class="col-md-3">
					<h3><i class="fa fa-check-square-o"></i><i class="fa fa-user"></i>Friendship Request</h3>
				</div>
				<div class="col-md-3">
					<h3><i class="fa fa-check-square-o"></i><i class="fa fa-users"></i>Group Request</h3>
				</div>
			    <div class="col-md-3">
					<h3><i class="fa fa-check-square-o"></i><i class="fa fa-newspaper-o"></i>Offer Request</h3>
				</div>
		    </div> 

			<div class="row">
		        <div class="col-md-3">
			    	<form name="NewUser"  action="/AdminNewFriendship/" >
					<select name="FromFriend">
						{% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<select name="ToFriend">
						 {% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Link Friends" />
		        	</form>
				</div>
				<div class="col-md-3">
			    	<form name="NewUser"  action="/AdminNewFriendshipRequest/" >
					<select name="FromFriend">
						{% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<select name="ToFriend">
						  {% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						   {% endfor %}
					</select>
					<input type="submit" value="Add Request" />
		        	</form>
				</div>
				<div class="col-md-3">
			    	<form name="NewUser"  action="/AdminNewGroupRequest/" >
					<select name="User">
						{% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<select name="Group">
						 {% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Add Request" />
		        	</form>
				</div>
				<div class="col-md-3">
			    	<form name="NewUser"  action="/AdminNewOfferRequest/" >
					<select name="User">
						 {% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<select name="Offer">
						{% for usr in usersList %}
						  <option value="{{usr.user_email}}">{{usr.user_email}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Add Request" />
		        	</form>
				</div>
		    </div> 


		    
		    
		    
		    
		  </div>
		</div>
  </div>
</div>














<!-- ----------------------------------------------------------------------------- -->
<!-- 								Lista de Personas y Users        	           -->
<!-- 																			   -->
<!-- ----------------------------------------------------------------------------- -->

  <div class="jumbotron">
    <h2>Users & Persons List</h2>
    <p>Editable List for Users and Persons</p>
  </div>

{% for usr in usersList %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">ID:{{usr.pk}} Name:{{usr.user_firstname}} </div>
<div class="panel-body">

<form id='{{usr.user_email}}' action="/AdminSave/">
<div class="row">
<div class="col-md-4">
<div class="well">
{% with "Photos/"|add:usr.user_photourl as image_name %}
{% load staticfiles %}
<img alt="Linkedln" src="{% static image_name %}" width=100% / >
"{% static image_name %}"
{% endwith %}
<br/><br/><br/>
PhotoFile : <input type="text" name="usr_photourl" value="{{usr.user_photourl}}" > 
<br/>
</div>
</div>

<div class="col-md-8">

<div class="row">
	<div class="col-md-6">
	<div class="well">
	  
	Email :  <input type="text" name="usr_email" value="{{usr.user_email}}" > 
	<input type="text" name="email" value="{{usr.user_email}}"  disabled = "disabled" />
	</div>
	</div>

	<div class="col-md-6">
	<div class="well">
	Password : <input type="text" name="usr_password" value="{{usr.user_password}}" > 
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	<div class="well">
	FirstName : <input type="text" name="usr_firstname" value="{{usr.user_firstname}}" > 
	</div>
	</div>

	<div class="col-md-6">
	<div class="well">
	LastName : <input type="text" name="usr_lastname" value="{{usr.user_lastname}}" > 
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	<div class="well">
	Age : <input type="text" name="usr_age" value="{{usr.user_age}}" > 
	</div>
	</div>
	<div class="col-md-6">
	<div class="well">
	Gender : <input type="text" name="usr_gender" value="{{usr.user_gender}}" > 
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	<div class="well">
	Country : <input type="text" name="usr_country" value="{{usr.user_country}}" > 
	</div>
	</div>
	
	<div class="col-md-6">
	<div class="well">
	Language : <input type="text" name="usr_language" value="{{usr.user_language}}" > 
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	<div class="well">
	Category : <input type="text" name="usr_category" value="{{usr.user_category}}" > 
	</div>
	</div>
	
	<div class="col-md-6">
	<div class="well">
	Company : <input type="text" name="usr_company" value="{{usr.user_company}}" > 
	</div>
	</div>
</div>


</div>
</div>

<div class="row">
	<div class="col-md-4">
	<div class="well">
	Studies : <input type="text" name="usr_studies" value="{{usr.user_studies}}" >  
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
	Topics : <input type="text" name="usr_topics" value="{{usr.user_topics}}" > 
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
	CVFile : <input type="text" name="usr_cvurl" value="{{usr.user_cvurl}}" >  
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	<div class="well">
	Facebook : <input type="text" name="usr_fburl" value="{{usr.user_fburl}}"  >   
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
	Twitter : <input type="text" name="usr_twitterurl" value="{{usr.user_twitterurl}}" > 
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
	Linkedln : <input type="text" name="usr_linkedlnurl" value="{{usr.user_linkedlnurl}}" > 
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<div class="well">
	Abstract : <textarea name="usr_abstract" rows="10" cols="120" >{{usr.user_abstract}}</textarea> 	   
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
	<div class="well">
	English.Reading : <input type="text" name="usr_englishReading" value="{{usr.user_englishReading}}" > 
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	English.Writing : <input type="text" name="usr_englishWriting" value="{{usr.user_englishWriting}}" > 
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	English.Listening : <input type="text" name="usr_englishListening" value="{{usr.user_englishListening}}" >
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	English.Speaking : <input type="text" name="usr_englishSpeaking" value="{{usr.user_englishSpeaking}}" > 
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
	<div class="well">
	Communication Skills : <input type="text" name="usr_skillCommunication" value="{{usr.user_skillCommunication}} "> % 
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	Teamwork Skills : <input type="text" name="usr_skillTeamwork" value="{{usr.user_skillTeamwork}} " > %
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	Initiative SKills : <input type="text" name="usr_skillInitiative" value="{{usr.user_skillInitiative}} " > %
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	Problem Solving Skills : <input type="text" name="usr_skillProblemSolving" value="{{usr.user_skillProblemSolving}} " > %
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
	<div class="well">
	Flexibility Skills : <input type="text" name="usr_skillFlexibility" value="{{usr.user_skillFlexibility}} " > %
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	Computer Skills : <input type="text" name="usr_skillComputer" value="{{usr.user_skillComputer}} " > %
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	Technical Skills : <input type="text" name="usr_skillTechnical" value="{{usr.user_skillTechnical}} " > %
	</div>
	</div>
	<div class="col-md-3">
	<div class="well">
	Leadership Skills : <input type="text" name="usr_skillLeadership" value="{{usr.user_skillLeadership}} " > %
	</div>
	</div>
</div>

<input type="submit" value="Save"/>
</form>
</div>

</div>
</div>
</div>
{% endfor %}
<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->







<!-- ----------------------------------------------------------------------------- -->
<!-- 								Lista de las Amistades 				           -->
<!-- 																			   -->
<!-- ----------------------------------------------------------------------------- -->

<div class="jumbotron">
	<h2>Friendships and Amigos</h2>
	<p>Editable List for Users and Persons</p>
</div>

{% for usr in usersList %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">ID:{{usr.pk}} Friends of {{usr.user_firstname}}  , {{usr.user_lastname}} [Email:{{usr.user_email}}] </div>
<div class="panel-body">
<div class="row">
<div class="col-md-6">
<div class="list-group">



{% for frnd in friendsList %}
	{% ifequal usr.user_email frnd.friendship_from %}
		{% for usr2 in usersList %}
			{% ifequal usr2.user_email frnd.friendship_to %}
			<form id='{{usr.user_email}}' action="/AdminRemoveFriendship/">
				<a class="list-group-item">
				{% with "Photos/"|add:usr2.user_photourl as image_name %}
				{% load staticfiles %}
				<img src="{% static image_name %}" width=50px  data-toggle="popover" title="{{usr2.user_firstname}} {{usr2.user_lastname}} " data-content="{{usr2.user_abstract}}" data-trigger="hover" / >
				{% endwith %}
								<input type="text" name="friend1"  hidden value="{{usr.user_email}}">
								<input type="text" name="friend2"  hidden value="{{usr2.user_email}}">
				{{usr2.user_firstname}} {{usr2.user_lastname}} 
				<input type="submit" value="Remove"/>
				</a>
			</form>
			{% endifequal %}
		{% endfor %}
	{% endifequal %}
{% endfor %}




</div>
</div>	

<div class="col-md-3">
<div class="list-group">
<li class="list-group-item">
{% with "Photos/"|add:usr.user_photourl as image_name %}
	{% load staticfiles %}
	<img src="{% static image_name %}" width=100% / >
	{% endwith %}
	</li>
</div>	
</div>	

<div class="col-md-3">
<div class="list-group">
<li class="list-group-item">{{usr.user_firstname}} {{usr.user_lastname}}</li>
<li class="list-group-item">Age:{{usr.user_age}}</li>
<li class="list-group-item">Country:{{usr.user_country}}</li>
<li class="list-group-item">Language:{{usr.user_language}}</li>
<li class="list-group-item">Abstract:{{usr.user_abstract}}</li>
</div>
</div>		
	

</div>
</div>
</div>
</div>
{% endfor %}
<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->









<!-- ----------------------------------------------------------------------------- -->
<!--       	    	Lista de las Solicitudes de Amistades				           -->
<!-- 																			   -->
<!-- ----------------------------------------------------------------------------- -->

<div class="jumbotron">
	<h2>Friendships Request</h2>
	<p>Editable List for Users and Persons</p>
</div>

{% for usr in usersList %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">ID:{{usr.pk}} Friends Request from {{usr.user_firstname}}  , {{usr.user_lastname}} [Email:{{usr.user_email}}] </div>
<div class="panel-body">
<div class="row">
<div class="col-md-6">
<div class="list-group">

{% for frnd in friendsRequestList %}
	{% ifequal usr.user_email frnd.friendshiprequest_from %}
		{% for usr2 in usersList %}
			{% ifequal usr2.user_email frnd.friendshiprequest_to %}
			
				<a class="list-group-item">
				{% with "Photos/"|add:usr2.user_photourl as image_name %}
				{% load staticfiles %}
				<img src="{% static image_name %}" width=50px  data-toggle="popover" title="{{usr2.user_firstname}} {{usr2.user_lastname}} " data-content="{{usr2.user_abstract}}" data-trigger="hover" / >
				{% endwith %}
				<form id='{{usr.user_email}}' action="/AdminRemoveFriendship/">
								<input type="text" name="friend1"  hidden value="{{usr.user_email}}">
								<input type="text" name="friend2"  hidden value="{{usr2.user_email}}">
				<input type="submit" value="Decline"/>
				<form id='{{usr.user_email}}' action="/AdminRemoveFriendship/">
								<input type="text" name="friend1"  hidden value="{{usr.user_email}}">
								<input type="text" name="friend2"  hidden value="{{usr2.user_email}}">
				<input type="submit" value="Accept"/>
				{{usr2.user_firstname}} {{usr2.user_lastname}} 
				
				</a>
			</form>
			{% endifequal %}
		{% endfor %}
	{% endifequal %}
{% endfor %}




</div>
</div>	

<div class="col-md-3">
<div class="list-group">
<li class="list-group-item">
{% with "Photos/"|add:usr.user_photourl as image_name %}
	{% load staticfiles %}
	<img src="{% static image_name %}" width=100% / >
	{% endwith %}
	</li>
</div>	
</div>	

<div class="col-md-3">
<div class="list-group">
<li class="list-group-item">{{usr.user_firstname}} {{usr.user_lastname}}</li>
<li class="list-group-item">Age:{{usr.user_age}}</li>
<li class="list-group-item">Country:{{usr.user_country}}</li>
<li class="list-group-item">Language:{{usr.user_language}}</li>
<li class="list-group-item">Abstract:{{usr.user_abstract}}</li>
</div>
</div>		
	

</div>
</div>
</div>
</div>
{% endfor %}
<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->













<!-- ----------------------------------------------------------------------------- -->
<!-- 								Lista de los Grupos 				           -->
<!-- 																			   -->
<!-- ----------------------------------------------------------------------------- -->

  <div class="jumbotron">
    <h2>Offers & Projects List</h2>
    <p>Editable List for Offers & Projects</p>
  </div>

{% for off in offersList %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">ID:{{off.pk}} Name:{{off.offer_name}} </div>
<div class="panel-body">
<form id='{{off.offer_name}}' action="/AdminSave/">
<div class="row">
<div class="col-md-4">
<div class="well">
{% with "Photos/"|add:off.offer_photourl as image_name %}
{% load staticfiles %}
<img alt="Linkedln" src="{% static image_name %}" width=100% / >
"{% static image_name %}"
{% endwith %}
<br/><br/><br/>
PhotoFile : <input type="text" name="off_photourl" value="{{off.offer_photourl}}" > 
<br/>
</div>
</div>
<div class="col-md-8">
<div class="row">
<div class="col-md-6">
<div class="well">
Name:  <input type="text" name="off_name" value="{{off.offer_name}}" > 
</div></div>
<div class="col-md-6">
<div class="well">
Owner :
<select name="off_owner">
{% for usr in usersList %}
<option value="{{usr.user_email}}">{{usr.user_email}}</option>
{% endfor %}
</select>
</div></div>
</div>
<div class="row">
<div class="col-md-6">
<div class="well">
Created Date:  <input type="text" name="off_date" value="{{off.offer_date}}" > 
</div></div>
<div class="col-md-6">
<div class="well">
Deadline:  <input type="text" name="off_deadline" value="{{off.offer_deadline}}" > 
</div></div>
</div>
<div class="row">
<div class="col-md-12">
<div class="well">
Abstract : <textarea name="off_abstract" rows="10" cols="80" >{{off.offer_abstract}}</textarea> 	   
</div>
</div>
</div>
</div>
</div>
<input type="submit" value="Save"/>
</div>
</form>
</div>
</div>
</div>
</div>
{% endfor %}
<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->












<!-- ----------------------------------------------------------------------------- -->
<!-- 								Lista de los Grupos 				           -->
<!-- 																			   -->
<!-- ----------------------------------------------------------------------------- -->
<div class="jumbotron">
	<h2>Groups & Societies List</h2>
    <p>Editable List of Groups</p>
</div>

{% for grp in groupsList %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">ID:{{grp.pk}} Name:{{grp.group_name}} </div>
<div class="panel-body">
<form id='{{grp.group_name}}' action="/AdminSave/">

<div class="row">
	<div class="col-md-4">
	<div class="well">
	{% with "Photos/"|add:grp.group_photourl as image_name %}
	{% load staticfiles %}
	<img alt="Linkedln" src="{% static image_name %}" width=100% / >
	"{% static image_name %}"
	{% endwith %}
	<br/><br/>
	<br/>
	PhotoFile : <input type="text" name="grp_photourl" value="{{grp.group_photourl}}" > 
	<br/>
	</div>
	</div>
	<div class="col-md-8">
	<div class="row">
	<div class="col-md-4">
    <div class="well">
	Name:  <input type="text" name="grp_name" value="{{grp.group_name}}" > 
	</div></div>
    <div class="col-md-4">
    <div class="well">
    Owner :
	<select name="grp_owner">
	{% for usr in usersList %}
	<option value="{{usr.user_email}}">{{usr.user_email}}</option>
	{% endfor %}
	</select>
	</div></div>		   
    <div class="col-md-4">
    <div class="well">
	Created Date:  <input type="text" name="grp_date" value="{{grp.group_date}}" > 
	</div></div>      
	</div>            
    <div class="row">
    <div class="col-md-12">
	<div class="well">
	Astract : <textarea name="grp_abstract" rows="10" cols="80" >{{grp.group_abstract}}</textarea> 	   
	</div>
	</div>
    </div>       
    </div>
</div>
<input type="submit" value="Save"/>
</div>
</form>
</div>
</div>
</div>
</div>
{% endfor %}
<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->










<!-- ----------------------------------------------------------------------------- -->
<!-- 								Lista de Articulos   				           -->
<!-- 																			   -->
<!-- ----------------------------------------------------------------------------- -->
<div class="jumbotron">
	<h2>Articles & Projects</h2>
    <p>Editable List of Articles & Projects</p>
</div>

{% for art in articlesList %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">ID:{{art.pk}} Name:{{art.article_name}} </div>
<div class="panel-body">
<form id='{{art.article_name}}' action="/AdminSave/">
<div class="row">
	<div class="col-md-4">
		<div class="list-group">
		<li class="list-group-item">
		Article Name : <input type="text" name="art_name" value="{{art.article_name}} " > 
		</li>
		<li class="list-group-item">
		Article Published : <input type="text" name="art_name" value="{{art.article_published}} " > 
		</li>
		<li class="list-group-item">
		Article Date : <input type="text" name="art_name" value="{{art.article_publisheddate}} " > 
		</li>
		<li class="list-group-item">
		Article URL : <input type="text" name="art_name" value="{{art.article_url}} " > 
		</li>
	</div>
	</div>
	<div class="col-md-8">
	<div class="list-group">
		<li class="list-group-item">
		Abstract : <textarea name="usr_abstract" rows="6" cols="80" >{{usr.user_abstract}}</textarea> 
		</li>
	</div>
	</div>	
</div>
<input type="submit" value="Save"/>
</form>
</div>
</div>
</div>
</div>
{% endfor %}
<!-- ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------- -->








<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>












<!--
     ---------------------------------------------------------------------------		
	 <body> End
     ---------------------------------------------------------------------------   					 
-->
</body>
</html>



