<!DOCTYPE html>
<html class="" lang="en">

  <head>
    <meta charset="UTF-8">
    <title>INICIO</title>

    <meta name="viewport" >
    <meta name="description" content="">
    <meta name="author" content="">

    <{% load staticfiles %}
	<link href="{% static "Profile/css/bootstrap.min.css" %}" rel="stylesheet">
    {% load staticfiles %}
	<link href="{% static "Profile/css/font-awesome.min.css" %}" rel="stylesheet">
	{% load staticfiles %}
	<link href="{% static "Profile/css/icons.css"  %}" rel="stylesheet">
	{% load staticfiles %}
    <link href="{% static "Profile/css/jquery.bxslider.css" %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "Profile/css/supersized.css"  %}"rel="stylesheet">
    {% load staticfiles %} 
    <link href="{% static "Profile/css/effect.css"  %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "Profile/css/style.css"  %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "Profile/css/responsive-body.css"  %}"rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "Profile/css/responsive.css"  %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "Profile/css/metro-style.css"  %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "Profile/css/Met-Js.css"  %}" rel="stylesheet">
	{% load staticfiles %}  
	<script src="{% static "Profile/js/jquery.min.js" %}"></script>


<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Architects+Daughter" /><link rel='stylesheet' href='//fonts.googleapis.com/css?family=Architects Daughter' type='text/css' /> <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Architects Daughter' type='text/css' /> <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Architects Daughter' type='text/css' /> <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Architects Daughter' type='text/css' /> <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Architects Daughter' type='text/css' />


  </head>



<body>


<div class="container">


<div class="row">

<div class="col-md-4">
		{% with "Photos/"|add:user_photourl as image_name %}
		{% load staticfiles %}
		<img class="img-circle" alt="ProfilePic" src="{% static image_name %}" width=100%  / >
		{% endwith %}
</div>


<div class="col-md-8">
	<div class="panel panel-primary"> 
	<div class="panel-heading" ><h3 style="color: rgb(255,255,255);">{{user_firstname}} {{user_lastname}}</h3></div>
	<div class="panel-body" style="	height: 100%;">
	
	
	<div class="col-md-4">
	
		<p style="color: rgb(51,51,51);">Age: {{user_age}} </p>
		<p style="color: rgb(51,51,51);">Studies: {{user_studies}}</p>  
		<p style="color: rgb(51,51,51);">Company: {{user_company}} </p>
		<p style="color: rgb(51,51,51);">Country: {{user_country}}</p>  
		<p style="color: rgb(51,51,51);">Interests:{{user_topics}}</p>
	
	
	
	</div>
	

	
		<div class="col-md-4">
	
		<p style="color: rgb(51,51,51);">English Reading: {{user_englishReading}} %</p>
		<p style="color: rgb(51,51,51);">English Writing: {{user_englishWriting}} %</p>  
		<p style="color: rgb(51,51,51);">English Listening: {{user_englishListening}} %</p>
		<p style="color: rgb(51,51,51);">English Speaking: {{user_englishSpeaking}} %</p>  

	
	
	    </div>
	
	
	   <div class="col-md-4">
	
		<a target="_blank" href="http://{{user_fburl}}">
		{% load staticfiles %}
		<img alt="Facebook" src="{% static "Profile/ico/Facebook-icon.png" %}" border=0  style="border-radius: 0% 0% 0% 0%;width:20%;" >
		</a>
		<a target="_blank" href="http://{{user_fburl}}">
		{% load staticfiles %}
		<img alt="Twitter" src="{% static "Profile/ico/Twitter-icon.png" %}" border=0  style="border-radius: 0% 0% 0% 0%;width:20%;" >
		</a>
		<a target="_blank" href="http://{{user_fburl}}">
		 {% load staticfiles %}
		<img alt="Linkedln" src="{% static "Profile/ico/LinkedIn-icon.png" %}" border=0  style="border-radius: 0% 0% 0% 0%;;width:20%;" >
		</a>
		<a target="_blank" href="http://{{user_email}}">
		{% load staticfiles %}
		<img alt="CVLAC" src="{% static "Profile/ico/CVLAC-icon.png" %}" border=0  style="border-radius: 0% 0% 0% 0%;;width:20%;" >
		</a>
	</div>
	</div>
	</div>
	
	
		<div class="col-md-12">
		<div class="panel panel-primary"> 
		<div class="panel-heading" ><h3 style="color: rgb(255,255,255);">Skill's</h3></div>
		<div class="panel-body" style="	height: 100%;">
		<div class="col-md-6">
		<p style="color: rgb(51,51,51);">Communication Skill : {{user_skillCommunication}} %</p>  
		<p style="color: rgb(51,51,51);">Teamwork Skill : {{user_skillTeamwork}} %</p> 
		<p style="color: rgb(51,51,51);">Initiative Skill : {{user_skillInitiative}} %</p>  
		<p style="color: rgb(51,51,51);">Flexibility Skill : {{user_skillFlexibility}} %</p>
		</div>  
		<div class="col-md-6">
		<p style="color: rgb(51,51,51);">Computer Skill : {{user_skillComputer}} %</p>  
		<p style="color: rgb(51,51,51);">Technical Skill : {{user_skillTechnical}} %</p> 
		<p style="color: rgb(51,51,51);">Leadership Skill : {{user_skillLeadership}} %</p> 
		</div>
		</div>
	    </div>
		</div>
	
</div>





</div>

<div class="row">
<br>
<br>
</div>



<div class="col-md-10">
<div class="panel panel-primary">
<div class="panel-heading" ><h3 style="color: rgb(255,255,255);">About Me!</h3></div>
<div class="panel-body" style="font-family: Architects Daughter;	font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 23px;">
	   " {{user_abstract}} "
	   <a href="{{user_email}}" >by {{user_firstname}} </a>
</div>
</div>
</div>







</div>











  </body>
</html>
