<!DOCTYPE html>
<html class="" lang="en">

  <head>
 
    <meta charset="UTF-8">
    <title>INICIO</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/icons.css" rel="stylesheet">
    <link href="css/jquery.bxslider.css" rel="stylesheet">
    <link href="css/supersized.css" rel="stylesheet">
    <link href="css/effect.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive-body.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/metro-style.css" rel="stylesheet">
    <link href="css/Met-Js.css" rel="stylesheet">

    <!-- Js -->

    <script src="js/jquery.min.js"></script>

  </head>
  <body class="onepage">
    <div id="preloader"></div>

    <a id="top"></a>

    <!-- HEADER -->

    <section id="home" class="parallax">

	<div class="bg-parallax"></div>
	<div class="pattern"></div>
	<div class="overlay"></div>


        <div class="units-row units-row-end topslider">

         <div id="home-items">
         <div id="block-left">


            <div class="tiles">


            <div class="live-tile" id="bick1"  data-mode=""  data-delay="" data-direction="" >

                <div class="navi-main">
                    <h1><img src="img/buffalo.jpg" alt="" ></h1>
                    <h3>El mundo académico e industrial en un solo lugar</h3>
                </div>
            </div>
            </div>
            
            <div class="live-tile" id="bick-m"   data-mode=""  data-delay="" data-direction="" >
                <div class="navi-sq-m">
                    <img src="img/logo.png" alt="" class="avatar" >
                </div>
            </div>

            <div class="live-tile" id="bick2"   data-mode=""  data-delay="" data-direction="" >
                <div class="navi-sq-1"><a class="scroll" href="#team"><br><br><br>
                    <!-- ><h2 class="icon-users"></h2></a><-->
                    <img src="img/perfil.png">

                </div>
            </div>
            
            <div class="live-tile carousel" id="bick3"  data-mode="carousel"  data-delay="14000" data-direction="horizontal" >
		<div class="slide active" style="left: 0px; top: 0px; -webkit-transition-duration: 500ms; transition-duration: 500ms; -webkit-transition-property: left; transition-property: left; -webkit-transition-timing-function: ease; transition-timing-function: ease;"><br><br><br>
		<img src="img/logo.png" alt="" class="avatar"></div>
	    	<div class="slide" style="left: -165px; top: 0px; -webkit-transition-duration: 500ms; transition-duration: 500ms; -webkit-transition-property: left; transition-property: left; -webkit-transition-timing-function: ease; transition-timing-function: ease;"><br><br><br>
		<img src="img/IEEE.png" alt="" class="avatar"></div>
            </div>


            <div class="live-tile" id="bicks-1"  data-mode="carousel"  data-delay="8500" data-direction="vertical" >

            </div>
            <div class="live-tile" id="bick5"  data-mode=""  data-delay="" data-direction="" >
                <div class="navi-sq-3"><a class="scroll" href="#services"><br><br><br>
                    <img src="img/contactos.png">                         
                </div>
            </div>

            <div class="live-tile" id="bick6"  data-mode="flip"  data-delay="12000" data-direction="vertical" >

                    <div><img src="img/ecohouse.jpg" alt="" class="avatar"></div>
                    <div><img src="img/technologywallpaper.jpg" alt="" class="avatar"></div>
            </div>


            <div class="live-tile" id="bick7"  data-mode="flip"  data-delay="17000" data-direction="vertical" ><br><br><br>

                    <div><img src="img/math.jpg" alt="" ></div>
                    <div><img src="img/lookingforajob.jpg" alt="" ></div>
                    
            </div>
            <div class="live-tile" id="bick8"  data-mode=""  data-delay="" data-direction="" >
                            
                <div class="navi-sq-4">
                    <a class="scroll" href="#ofertas"><br><br><br>
                    <img src="img/ofertas.png">                   
                </div>  
            </div>

            <div class="live-tile" id="bick9"  data-mode="flip"  data-delay="22000" data-direction="vertical" ><br><br><br>

                    <div><img src="img/work.jpg" alt="" ></div>
                    <div><img src="img/renewable.jpg" alt="" ></div>

            </div>

            <div class="live-tile" id="bicks-2"  data-mode="carousel"  data-delay="15000" data-direction="vertical">

            </div>
    
            <div class="live-tile" id="bick10"  data-mode="flip"  data-delay="12000" data-direction="vertical" ><br><br><br>
                    <div><img src="img/industria.jpg" alt="" ></div><br><br><br>
                    <div><img src="img/renewable.jpg" alt="" ></div>
                    
            </div>
            <div class="live-tile" id="bick11"  data-mode=""  data-delay="" data-direction="" >
                <div class="navi-sq-5"><a class="scroll" href="#contact"><br><br><br>
                    <img src="img/correo.png">                            
                </div>

            </div>
            <div class="live-tile" id="bicks-3"  data-mode="carousel"  data-delay="15000" data-direction="vertical" >

            </div>
            <div class="live-tile" id="bick12"  data-mode="flip"  data-delay="7000" data-direction="vertical" ><br><br><br>

                    <div><img src="img/robot.jpg"  alt="" ></div>
                    <div><img src="img/electricity.jpg" alt="" ></div>
                    
            </div>

            <div class="live-tile" id="bick13"   data-mode=""  data-delay="" data-direction="" >
                <div class="navi-sq-t"><a class="scroll" href="#about">
                    <img src="img/electricity.jpg" alt="" ></a>
                </div>
            </div>
           </div>   
        </div>
    </section>

    <!-- /HEADER -->

    <!-- NAV -->

    <nav id="nav-desktop" class="nav-normal"> 
      <div class="container">
        <h1 id="logo"><a class="scroll" href="#home"><img class="logo" src="img/buffalo1.jpg" alt=""></a></h1>
        <ul>
          <li><a href="#about"><span> About</span></a></li>
          <li><a href="#team"><span>Team</span></a></li>
          <li><a href="#services"><span>Services</span></a></li>
          <li><a href="#contact"><span>Contact</span></a></li>
        </ul>
      </div>
    </nav>

    <!-- /NAV -->

    <!-- TEAM -->

    <section id="team" class="page-g">

      <div class="container">
        <div class="row">
          <div class="col-md-12 pad-top">
            <div class="title clearfix" data-animated="bounceIn">
              <h1>TODOS TUS CONTACTOS</h1>
            </div>
            <h1 class="under-l" data-animated="bounceIn">Encuentra toda la red de contactos académicos y empresariales para incrementar tu <strong> networking </strong> </h1>
          </div>
        </div>
      </div>

      <div class="fullwidth">
        <div class="container">

          <div id="team-list" class="row pad-bottom pad-hun">

      <article class="col-sm-12 col-xs-12 col-md-4 animated rotateInUpRight" data-animated="rotateInUpRight">

    <div class="mem-item">
        <div class="mem-avatar bwWrapper">
            <img alt="" src="img/gustavo.jpg"></img>
        </div>
        <div class="mem-info">
            <h4 class="mem-name">

                Gustavo Ramos

            </h4>
            <span class="mem-pos">

                Presidente IAS Colombia

            </span>
            <div class="mem-details">
                <div class="socicals">
                    <i class="mem-matn mem-pp"></i>
                    <i class="mem-matn m-p"></i>
                    <ul></ul>
                    <i class="mem-sign"></i>
                </div>
            </div>
        </div>
    </div>

</article>
            <article class="col-sm-12 col-xs-12 col-md-4" data-animated="flipInX">
              <div class="mem-item">
                <div class="mem-avatar bwWrapper">
                  <img src="img/Jorge.jpg" alt="">
                </div>
                <div class="mem-info">
                  <h4 class="mem-name">Jorge Luis Mayorga</h4>
                  <span class="mem-pos">Presidente PEPQUAPP</span>
                  <div class="mem-details">
                      <div class="socicals">
                        <i class="mem-matn mem-pp">Hola soy el presidente de PEPQUAPP y Buffalo team</i> 
                        <i class="mem-matn"> Soy bueno programando</i> 
                        <i class="mem-matn m-p">y dirigiendo equipos (Aunque tomo mucho)</i>
                        <i class="mem-sign"></i>
                      </div>
                  </div>
                </div>
              </div>
            </article>

            <article class="col-sm-12 col-xs-12 col-md-4" data-animated="rotateInUpLeft">
              <div class="mem-item">
                <div class="mem-avatar bwWrapper">
                  <img src="img/jf.jpg" alt="">
                </div>
                <div class="mem-info">
                  <h4 class="mem-name">Juan Felipe</h4>
                  <span class="mem-pos">Social Manager</span>
                  <div class="mem-details">
                      <div class="socicals">
                        <i class="mem-matn mem-pp">Hola Soy Juan Felipe</i> 
                        <i class="mem-matn m-p">y dirijo la sección de APPs y Redes sociales. Agrégame a tu red de contactos</i>

                        <i class="mem-sign"></i>
                      </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

        </div>
      </div>
      <div class="riz-text"><h1><img src="img/yellow.png" alt=""></h1></div>
    </section>


    <!-- /TEAM -->

    <!-- SKILLS -->

    <section id="ofertas" class="pad-hun page-fix-2">

      <div class="container">
        <div class="row">
          <div class="col-md-12 pad-top">
            <div class="title clearfix" data-animated="bounceIn">
              <h1>Nuestras nuevas ofertas</h1>
              </div>
            <h1 class="under-lll" data-animated="bounceIn">Compartimos la experiencia de lo que sucede en la empresa y la academia<br> Y nuestras estadísticas son</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">

          <div  id="our-skill" class="pad-bottom">
            <div class="col-sm-4 col-md-4">
              <div class="piechart" data-percent="80">
                <span></span>
                <h3 class="skill-t">Número de trabajos compartidos</h3>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="piechart" data-percent="60">
                <span></span>
                <h3 class="skill-t">Cantidad de ofertas aceptadas</h3>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="piechart" data-percent="95">
                <span></span>
                <h3 class="skill-t">Grupos creados</h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- /SKILLS -->

    <!-- CONTACT -->

    <section id="contact" class="pad-hun page-fix-3">

      <div class="container">
        <div class="row">
          <div class="col-md-12 pad-top">
            <div class="title clearfix" data-animated="bounceIn">
              <h4>Feel Free To Contact Us</h4>
              <img src="img/lina.png" alt="" data-animated="bounceIn">
            </div>
            
            <h1 class="under-ll" data-animated="bounceIn">Give us you contact information for more details</h1>
            
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">

               <div class="form-container"> 
                <form id="contact-form" class="contact-form" method="post" action="process.php">

                    <div class="result"></div>

                     <div class="col-md-4 pad-top" data-animated="bounceIn">
                    <div class="form-group">
                      <input type="text" name="name" id="name" placeholder="Name" class="form-control">
                    </div>

                    <div class="form-group">
                      <input type="text" name="email" id="email" placeholder="Mail" class="form-control">
                    </div>

                    </div>
                    <div class="col-md-6 pad-top" data-animated="bounceIn">
                    <div class="form-group">
                      <textarea cols="5" rows="4" name="comments" id="comm" placeholder="Message:" class="form-control"></textarea>
                    </div>

                     </div>
                     <div class="col-md-2 pad-top" data-animated="bounceIn">
                    <div class="form-group">
                      <input type="submit" class="btn btn-dark" name="submit" value="submit">
                    </div>
                     </div>
                </form>
              </div>
        </div>
        <br><br><br>
            
            <h1 class="under-llll" data-animated="bounceIn">Contáctanos para más información a pepquapp@gmail.com <br> Cualquier aporte nos enriquece! ...</h1>
      </div>
      <div class="riz-text"><h1><a class="scroll" href="#home"><img src="img/tt.png" alt=""></a></h1></div>
    </section>


    <!-- /CONTACT -->


    <!-- FOOTER -->

    <footer id="footer">
        <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
              <img src="img/buffalo1.jpg" alt="" class="footer_logo"/>
                Juan Felipe Martínez, Jorge Luis Mayorga, and Mónica Tuta
              </div>
             </div>
        </div>
    </footer>

    <!-- /FOOTER -->


    <!-- JS -->

    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.js"></script>
    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/jquery.timelinr-0.9.53.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/retina.min.js"></script>
    <script type="text/javascript" src="js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="js/supersized.shutter.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script type="text/javascript" src="js/MetroJs.js"></script>
    <script type="text/javascript" src="js/custom.metro.js"></script>
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/jquery.sudoslider.min.js"></script>
    <script src="js/service-js.js"></script>


  </body>
</html>